<section class="u-py-100 u-h-100vh u-flex-center parallax-contact" data-dark-overlay="6">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-white">
						Get in Touch with Us
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead">
						If you would like a free estimate, or wish to contact us for
						professional services, give us a shout! <br>
						We promise to get back to you as soon as possible!
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="u-pt-md-100 u-pb-md-70">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="media align-items-center justify-content-center">
						<span class="icon icon-Phone2 u-fs-lg-60 u-fs-40 0 text-primary mr-3"></span>
						<div class="media-body">
							<p class="u-fs-lg-24 color-heading mb-1">843-597-8823</p>
							<p class="mb-0">Mon-Fri 9am-6pm</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="media align-items-center">
						<span class="icon icon-Mail u-fs-6-lg0 t u-fs-40 text-primary mr-3"></span>
						<div class="media-body">
							<p class="u-fs-lg-24 color-heading mb-1">support@contacmedia.com</p>
							<p class="mb-0">online support</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="media align-items-center">
						<span class="icon icon-Pointer u-f-lgs-6 u-fs-40 text-primary mr-3"></span>
						<div class="media-body">
							<p class="u-fs-lg-24 color-heading mb-1">Charleston, South Carolina</p>
						</div>
					</div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mx-auto text-center">
					<h2 class="h1">
						Send Us a Post-It Note!
					</h2>
					<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
					<p>
						If you have any questions, comments, or just want to tell us
						how awesome of a day you're having, drop us a message below!
					</p>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-8 mx-auto text-center">
					<form action="#" method="POST">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
									<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding ">
										<span class="icon icon-User text-primary"></span>
									</div>
									<input type="text" class="form-control border-0 p-3" placeholder="Your fullname" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
									<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding ">
										<span class="icon icon-Mail text-primary"></span>
									</div>
									<input type="text" class="form-control border-0 p-3" placeholder="Your email" required>
								</div>
							</div>
						</div>
						<textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6" placeholder="Youe text..." required></textarea>
						<button class="btn btn-primary u-w-170" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
