<footer>
  <section class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Contac Media</h2>
          <p class="u-my-40">
            A constructive approach to building your web presence. A tactical approach to growing your business.
          </p>
          <form class="form-inline">
            <div class="input-group box-shadow-v1 u-rounded-50 bg-white u-of-hidden">
              <div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding pr-0">
                    <span class="icon icon-Mail text-primary"></span>
              </div>
              <input type="text" class="form-control border-0 p-3" placeholder="Enter your email">
              <button type="submit" class="input-group-btn btn bg-white">
                    <span class="icon icon-Arrow text-primary"></span>
              </button>
            </div>
          </form>
        </div>


        <div class="col-lg-3 ml-auto">
          <h4>Contact Info</h4>
          <div class="u-h-4 u-w-50 bg-purple rounded mt-3 u-mb-40"></div>
          <ul class="list-unstyled">
            <li class="mb-2">
                  <span class="icon icon-Phone2 text-primary mr-2"></span> 843-597-8823
            </li>
            <li class="mb-2">
                  <span class="icon icon-Mail text-primary mr-2"></span>
                  <a href="blog.devdap@gmail.com">marshallcolin71@gmail.com</a>
            </li>
            <li class="mb-2">
                  <span class="icon icon-Pointer text-primary mr-2"></span> Charleston, SC
            </li>
          </ul>
          <ul class="list-inline social social-rounded social-white mt-4">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="container text-center p-4">
        <p class="mb-0">
              Contac Media <br> 2018
        </p>
  </div>
</footer>
<div class="scroll-top bg-white box-shadow-v1">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
